body{
background:#c0c0c0;
font-family:Verdana, sans-serif;
}

/* ventana retro */

.window{
width:700px;
margin:60px auto;
border:2px solid black;
background:white;
}

/* barra superior */

.titlebar{
background:#000080;
color:white;
padding:6px;
font-weight:bold;
}

/* galeria */

.gallery{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:20px;
}

.gallery img{
width:100%;
aspect-ratio:1/1;
object-fit:contain;
background:white;
border:2px solid black;
}
