*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:monospace;
color:#7fffd4;
background:black;
overflow-x:hidden;

}

/* fondo gif verde */

.background{

position:fixed;
inset:0;

background:
linear-gradient(rgba(0,255,200,0.35),rgba(0,255,200,0.35)),
url("images/background.gif");

background-size:cover;

filter:
grayscale(100%)
contrast(140%)
brightness(.7);

opacity:.25;

z-index:-1;

}

/* contenedor */

.container{

width:1000px;
margin:auto;
padding:40px;

}

/* header */

.header{

font-size:18px;
letter-spacing:4px;

border-bottom:1px solid #00ffff;

padding-bottom:10px;
margin-bottom:30px;

}

/* layout */

.main{

display:grid;
grid-template-columns:300px 1fr;
gap:40px;

}

/* profile panel */

.profile{

border:1px solid #00ffff;
background:rgba(0,30,30,0.45);

padding:15px;

}

.profile img{

width:100%;

filter:
grayscale(100%)
contrast(120%);

margin-bottom:15px;

}

.bio h2{

margin-bottom:10px;
font-size:14px;

}

.bio p{

font-size:13px;
margin-bottom:10px;

}

/* tattoos panel */

.tattoos{

border:1px solid #00ffff;
background:rgba(0,30,30,0.45);

padding:15px;

}

.tattoos h2{

font-size:14px;
margin-bottom:15px;

}

/* gallery */

.gallery{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;

}

.gallery img{

width:100%;
aspect-ratio:1/1;

object-fit:contain;

border:1px solid #00ffff;

background:rgba(0,20,20,.7);

padding:12px;

filter:grayscale(100%);

cursor:pointer;

transition:.2s;

}

.gallery img:hover{

filter:grayscale(0%);

box-shadow:0 0 10px #00ffff;

}

/* divider */

.divider{

height:1px;
background:#00ffff;
margin:40px 0;

}

/* gif wall */

.pixelwall h2{

font-size:14px;
margin-bottom:15px;

}

.gifwall{

display:grid;
grid-template-columns:repeat(auto-fill,120px);
gap:10px;

}

.gifwall img{

width:100%;
border:1px solid #00ffff;

}

/* ascii */

.ascii{

border:1px solid #00ffff;
background:rgba(0,30,30,0.45);

padding:20px;

margin-top:30px;

}

.ascii pre{

color:#7fffd4;

font-size:12px;

line-height:14px;

white-space:pre;

}

/* lightbox */

.lightbox{

position:fixed;
inset:0;

background:rgba(0,0,0,.9);

display:none;

align-items:center;
justify-content:center;

}

.lightbox img{

max-width:90%;
max-height:90%;

border:1px solid #00ffff;

}